@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-zinc-900 bg-zinc-50;
    /* The Mesh Gradient Background */
    background-image: 
      radial-gradient(at 0% 0%, rgba(120, 119, 198, 0.1) 0px, transparent 50%), 
      radial-gradient(at 100% 0%, rgba(74, 85, 104, 0.1) 0px, transparent 50%);
    background-attachment: fixed;
  }
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { @apply bg-zinc-300 rounded-full hover:bg-zinc-400; }

.animate-enter { animation: enter 0.4s ease-out forwards; }
@keyframes enter { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
